/* Import Roboto fonts */
@import url('@fontsource/roboto/300.css');
@import url('@fontsource/roboto/400.css');
@import url('@fontsource/roboto/500.css');
@import url('@fontsource/roboto/700.css');

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
  font-size: 20px;
  font-weight: 600;
  color: white;
}

.home-background {
  width: 100vw;
  height: 100vh;
  background-image: url('/new-background.png');
  background-size: cover;
  background-position: center;
}

.white-logo {
  filter: brightness(0) invert(1);
}

.bold-svg path {
  stroke-width: 3; /* Increase the stroke width */
}
