/* Import fonts */
@import url('@fontsource/roboto/300.css');
@import url('@fontsource/roboto/400.css');
@import url('@fontsource/roboto/500.css');
@import url('@fontsource/roboto/700.css');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
  font-size: 20px;
  font-weight: 600;
  color: white;
}

.serif {
  font-family: 'Bree Serif', serif;
}

.home-background {
  width: 100vw;
  height: 100vh;
  background-image: url('/main-background.png');
  background-size: cover;
  background-position: center;
}

.white-logo {
  filter: brightness(0) invert(1);
}
